<section class="flexbox-container">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="col-md-4 col-10 box-shadow-2 p-0">
			<div class="card border-grey border-lighten-3 px-2 py-2 m-0">
				<div class="card-header border-0 text-center">
					<img src="images/inv.png" alt="unlock-user" class="rounded-circle img-fluid center-block">
					<h5 class="card-title mt-1">John Doe</h5>
				</div>

				<p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2"><span>Unlock your account</span></p>
				<div class="card-content">
					<div class="card-body">
						<form class="form-horizontal" action="login-simple.html" novalidate>
							<fieldset class="form-group position-relative has-icon-left">
								<input type="password" class="form-control form-control-lg" id="password" placeholder="Enter Password" required>
								<div class="form-control-position">
								    <i class="fa fa-key"></i>
								</div>
							</fieldset>
							<div class="form-group row">
	                            <div class="col-md-6 col-12 text-center text-sm-left">
	                                <fieldset>
	                                    <input type="checkbox" id="remember-me" class="chk-remember">
	                                    <label for="remember-me"> Remember Me</label>
	                                </fieldset>
	                            </div>
	                            <div class="col-md-6 col-12 float-sm-left text-center text-sm-right"><a href="recover-password.html" class="card-link"><i class="ft-unlock"></i> Forgot Password?</a></div>
	                        </div>
							<a href="index.html" class="btn btn-outline-primary btn-lg btn-block"><i class="icon-lock4"></i> Unlock</a>
							<a href="login-simple.html" class="btn btn-outline-danger btn-lg btn-block"><i class="ft-power"></i>Logout</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>